.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  &__inner {
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 55px;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-link {
    transition: opacity .35s $easing;
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav {
    margin-right: -14px;
    margin-left: -14px;
  }
  &__link {
    display: inline-block;
    position: relative;
    color: #fff;
    margin: 0 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .35s $easing;
    font-size: 13px;
    &:not(:last-child)::after {
      content: '';
      color: #fff;
      position: absolute;
      width: 10px;
      height: 10px;
      background: url('../images/header-divider.svg') 50% 50% no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: -18px;
    }
    &:hover {
      color: rgba(#fff, .7);
    }
  }
}
