header.header 
  .header__inner 
    .header__main
      a(href="#").header__logo-link
        img(src="images/header-logo.svg")
      .header__nav 
        a(href="#").header__link superfood
        a(href="#").header__link films
        a(href="#").header__link sound