.intro
  .intro__inner
    .intro__text 
      .intro__line.intro__line--1 THE WAY WE LIVE,
      .intro__line.intro__line--2 LOVE,&nbsp;&nbsp;&nbsp;CREATE
      .intro__line.intro__line--2 ` AND FEEL
    .intro__scroll
      .intro__scroll-infinite ∞
      .intro__scroll-down
        span.intro__scroll-decor ~
        | scroll down
        span.intro__scroll-decor ~